
@import '../own-styles/vars';
@import '../own-styles/breakpoints';
@import '../own-styles/input';
@import '../own-styles/select-styles';
@import '../own-styles/button';
@import '../blocks/form/form';
@import '../own-styles/custom-checkbox.scss';


* {
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
}

.page {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}


.wrapper {
  max-width: $container-width;
  margin: auto;
  padding: 0 $offset-main;

  @include mobile {
    padding: 0 15px;
  }
}